.dir-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: black;
}

.search-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 88%;
    height: 15px;
    margin: 20px 0px 0px 10px;
}

.button-wrapper { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin: 20px 0px 20px 10px;
}

.this-button, .all-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25%;
    margin: 0px 4px 10px 0px;
    color: black;
    font-size: 10px;
    border-radius: 25px;
}


@media (min-width: 320px) {
    .dir-header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        background-color: black;
    }

    .search-input {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 70%;
        height: 15px;
        margin: 20px 0px 10px 60px;
    }
    
    .button-wrapper { 
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 75%;
        margin: 20px 0px 20px 60px;
    }
    
    .this-button, .all-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 18%;
        margin: 0px 4px 10px 0px;
        color: black;
        font-size: 11px;
        border-radius: 25px;
    }
}

@media (min-width: 768px) {
    .dir-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        background-color: black;
    }

    .search-input {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 30%;
        height: 15px;
        margin: 23px 0px 10px 20px;
    }

    .button-wrapper { 
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        margin: 20px 0px 20px 0px;
    }
    
    .this-button, .all-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 17%;
        margin: 0px 4px 10px 0px;
        color: black;
        font-size: 11px;
        border-radius: 25px;
    }

}

@media (min-width: 1024px) {
    .dir-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        background-color: black;
    }

    .search-input {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 25%;
        height: 15px;
        margin: 20px 0px 20px 30px;
    }

    .button-wrapper { 
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 60%;
        margin: 20px 20px 15px 0px;
    }
    
    .this-button, .all-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 9%;
        margin: 0px 4px 0px 0px;
        color: black;
        font-size: 11px;
        border-radius: 25px;
    }

}

@media (min-width: 1440px) {
    .dir-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        background-color: black;
    }

    .search-input {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 20%;
        height: 15px;
        margin: 20px 0px 20px 30px;
    }

    .button-wrapper { 
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        margin: 20px 20px 15px 0px;
    }
    
    .this-button, .all-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 8%;
        margin: 0px 8px 0px 0px;
        color: black;
        font-size: 12px;
        border-radius: 25px;
    }

}

