.dir-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: black;
}

.search-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
    height: 15px;
    margin: 20px 0px 0px 5px;
}

.checkbox-wrapper { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin: 15px 0px 10px 5px;
}

.genre-checkboxes {
    width: 20%;
    margin-bottom: 5px;
}

.check-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.genre-text {
    color: white;
    font-size: 11px;
}

@media (min-width: 320px) {
    .dir-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding-left: 100px;
        background-color: black;
    }

    .search-input {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 65%;
        height: 15px;
        margin: 20px 0px 10px 15px;
    }
    
    .checkbox-wrapper { 
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 85%;
        margin: 15px 0px 15px 15px;
    }
}

@media (min-width: 768px) {
    .dir-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        background-color: black;
        padding: 0px;
    }

    .search-input {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 30%;
        height: 15px;
        margin: 20px 0px 10px 20px;
    }

    .checkbox-wrapper { 
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        margin: 15px 0px 15px 20px;
    }

    .genre-checkboxes {
        width: 20%;
    }
    
    .check-box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 5px;
    }
    
    .genre-text {
        color: white;
        font-size: 11px;
    }
}

@media (min-width: 1024px) {
    .dir-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        background-color: black;
        padding: 0px;
    }

    .search-input {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 25%;
        height: 15px;
        margin: 20px 0px 20px 30px;
    }

    .checkbox-wrapper { 
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 55%;
        margin: 15px 30px 15px 0px;
    }

    .genre-checkboxes {
        width: 10%;
    }
    
    .check-box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 5px;
    }
    
    .genre-text {
        color: white;
        font-size: 12px;
    }
}

@media (min-width: 1440px) {
    .dir-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        background-color: black;
        padding: 0px;
    }

    .search-input {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 20%;
        height: 15px;
        margin: 30px 0px 20px 30px;
    }

    .checkbox-wrapper { 
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        margin: 15px 30px 15px 0px;
    }

    .genre-checkboxes {
        width: 10%;
    }
    
    .check-box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 5px;
    }
    
    .genre-text {
        color: white;
        font-size: 12px;
    }
}

