.genre-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-content: center;
    margin: 15px 0px 15px 0px;
}

.movie-genre {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid white;
    width: 25%;
    border-radius: 25px;
    background-color: white;
    margin-right: 10px;
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
}


