.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.image-wrapper {
    width: 90%;
    margin-bottom: 8px;
}

.movie-image {
    width: 100%;
    border: 1px solid black;
}

.info-wrapper {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: white;
}

.movie-name {
    margin-bottom: 5px;
}


