.body-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 95%;
    align-items: flex-start;
    justify-content: center;
    margin: 0px auto;
}

.dir-wrapper {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 45px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0px 0px 0px;
}

@media (min-width: 320px) {
    .card-container{
        display: flex;
        flex-wrap: wrap;
        width: 48%;
        margin: 20px 0px 0px 0px;
    }
}

@media (min-width: 768px) {
    .card-container{
        display: flex;
        flex-wrap: wrap;
        width: 25%;
        margin: 25px 0px 0px 0px;
    }
}

@media (min-width: 1024px) {
    .card-container{
        display: flex;
        flex-wrap: wrap;
        width: 19%;
        margin: 20px 0px 0px 0px;
    }
}

@media (min-width: 1440px) {
    .card-container{
        display: flex;
        flex-wrap: wrap;
        width: 14%;
        margin: 23px 0px 0px 0px;
    }
}


